PORT=5000

# Pre-configured MongoDB Atlas URI (allows immediate execution)
# You can also change this to a local MongoDB instance (e.g. mongodb://localhost:27017/sortmyscene)
MONGO_URI=mongodb://nirvikar3903:nirvikar123@ac-jthdvsk-shard-00-00.xhvp5dx.mongodb.net:27017,ac-jthdvsk-shard-00-01.xhvp5dx.mongodb.net:27017,ac-jthdvsk-shard-00-02.xhvp5dx.mongodb.net:27017/?ssl=true&replicaSet=atlas-qxrn9c-shard-0&authSource=admin&appName=Cluster0

# Secret key for signing JWT auth tokens
JWT_SECRET=d6812ea9e08a65681e401e446a7f049ed72a95c969d9c014a26f2cb83ecf7bd7
